body {
    margin: 0;
    padding: 0;
    background-color: #FFF9F1;
    /* background-color: aquamarine; */
}

.first-page-logotype {
    width: 10em;
    margin: 2em 0em 1em 0em;
}

.login-page,
.create-user-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
}

.create-user-input,
.create-password-input,
.password-input,
.username-input {
    font-family: 'Comfortaa', cursive;
    height: 3.5vh;
    width: 18em;
    background-color: #FFF9F1;
    border-style: none;
    border-bottom: solid;
}

input:focus,
textarea:focus{
    outline: none;
}

.response {
    color: #B75C34;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    width: 15em;
    text-align: center;
}

.login-btn,
.new-user-btn {
    margin: 5em 0em 3em 0em;
    height: 3em;
    width: 70%;
    background-color: #B75C34;
    color: #FFF9F1;
    border-radius: 5em;
    border: 0;
    box-shadow: 4px 4px 8px #dbd7d0;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: lighter;
}

.create-user-btn {
    background-color: #FFF9F1;
    border: 0;
    text-decoration: underline;
}

.create-user-p {
    display: flex;
    flex-direction: column;
    font-family: 'Comfortaa', cursive;
    font-size: .8rem;
}

.channel-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(254, 251, 243)

    /* background-color: rgb(220, 172, 53) */
}

.channel-h3 {
    color: rgb(143, 112, 36);
}

.channel-output {
    height: 87vh;
    background-color: rgb(254, 251, 243)
}

.channel-msg-board {
    display: flex;
    margin: 1em .2em 1em .2em;
    height: 5.5vh;
}

.channel-input {
    /* background-color: blue; */
    /* width: 60%; */
    border-radius: 2em;
    border: 0;
    flex: 1 1 70%;
    margin: 0em .1em 0em .1em;
    background-color: rgb(220, 172, 53);
    padding: 1em;
}

.channel-send-btn {
    flex: 1 1 20%;
    /* background-color: rgb(254, 251, 243); */
    background-color: rgb(220, 172, 53);
    color: white;
    border: 0;
    border-radius: 2em;
    margin: 0em .1em 0em .3em;
}

/* .channel-p {
    background-color: rgb(220, 172, 53);
    max-width: 100%;
    padding: 1em;
    border-radius: 2em;
} */

.duck-icon {
    width: 3em;
}